:root{
  --PaleBlue: #b3d4ff;
  --PalePurple: #f8afee;
  --BoldRose: #f26a8d;
  --Pink: #f49cbb;
  --BabyBlue: #d8f8fc;
  --Shadow: grey;
  --Orange: orange;
  --brand-black: rgb(35, 32, 32);
  --brand-red: rgb(238, 52, 36);
  --brand-blue: #71afe6;
  --White: rgb(255, 255, 255);
}
*{
  color: white;
margin:0;
padding:0;
box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  background-color: black;
  overflow-y:scroll ;

=======
>>>>>>> bf0e497b8c32de64f41b845b19047302d9664346
}
/*************************************/
/* Loading Styling */
.loading_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  pointer-events: none;
  z-index: 99999999;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgb(80, 80, 80);
  z-index: 99999999;
}
.loader-1 {
  position: relative;
  background: #fff;
  width: 200px;
  z-index: 99999999;
}
.loader-2 {
  position: relative;
  width: 100px;
  background: #fff;
  z-index: 99999999;
}
.bar {
  height: 5px;
  z-index: 99999999;
}
.website_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}
.header {
  position: relative;
  width: max-content;
  height: max-content;
  z-index: 99999999;
}
.h1 {
  display: flex;
  font-size: 80px;
  z-index: 99999999;
}
.heroText h2{
  text-align: left;
  width: max-content;
  margin: 7rem 0 1rem 2rem;
  opacity: 0;
}
.heroText h1{
  color:#7c94ff;
  opacity: 0;
  margin-left: 5rem;
  text-align: center;
  font-size: 70px;
}
.header .h1 h1 {
  text-align: center;
  position: relative;
  top: 80px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 80px;
  z-index: 99999999;
}
.header_revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}
.header_revealer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 110%;
  background: #fff;
  top: 80px;
  z-index: 99999999;
}
/*************************************/
  /*** front page styling****/
  .navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    border-radius: -10px;
}

.navbar_container {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  height: 80px;
  width: 300%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
  z-index: 3;
  overflow-y: visible;
  font-weight: 500;
  z-index: 999;
  overflow: hidden;
=======
    display: flex;
    justify-content:center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 3;
    overflow-y: visible;
    font-weight: 500;
    z-index: 999;
    overflow: hidden;
>>>>>>> bf0e497b8c32de64f41b845b19047302d9664346
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    z-index: 999;
}

.navbar_item {
<<<<<<< HEAD
  height: 80px;
  width: 5.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 999;

=======
    height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
>>>>>>> bf0e497b8c32de64f41b845b19047302d9664346
}

.navbar_item a{
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.navbar_item a.active{
  color: black;
}

.navbar_item a:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width:  6rem;
  height: 80px;
  transform: scaleY(0);
  transform-origin: top center;
  background: var(--White);
  z-index: -1;
  transition: transform 0.5s;
}
.navbar_item a:hover::after{
  transform: scaleY(1);
}

.navbar_item a:hover{
  color: black;
}

.navbar_link {
<<<<<<< HEAD
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  overflow-y: hidden;
  text-decoration: none;
  height: 100%;
  font-size: 14px;
  background-image: linear-gradient(rgb(238, 52, 36), rgb(238, 52, 36));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  z-index: 999;
=======
    color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    overflow-y: hidden;
    text-decoration: none;
    height: 100%;
    background-image: linear-gradient(rgb(238, 52, 36), rgb(238, 52, 36));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    z-index: 999;
>>>>>>> bf0e497b8c32de64f41b845b19047302d9664346
}

.navbar_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.embolden {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 125px;
    color: var(--brand-red);
    font-weight: 550;
    background-image: linear-gradient(rgb(238, 52, 36), rgb(238, 52, 36));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

#navbar_logo {
    background-image: url(./res/rockband3.jpg);
    background-repeat: no-repeat;
    background-size: 244.7px 69.7px;
    margin-top: 1rem;
    margin-right: 0;
    width: 440.6px;
    height: 125.6px;
    overflow: hidden;
    z-index: 1;
}

  .navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 600px;
    background-color: black
  }
  .heroimg {
    z-index: 2;
    box-shadow: inset 0 100px 200px 50px #000;
    width: 100%;
    height: 98.7vh;
    background-image: url(./res/rockband3.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    align-items: center;
    place-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    color: var(--White);
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    font-weight: 500;
}

.main_btn {
    box-shadow: 2px 2px 10px -1px #000;
    align-items: center;
    width: 170px;
    height: 60px;
    position: relative;
    padding: 17px 45px;
    top: 17%;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
    color: var(--White);
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #041f3d;
    background: linear-gradient( 8deg, #0d5cb2 0%, #000000 74%);
    text-align: center;
}
/*************************************/
/* Marquee (Sliding Text) Formatting */
.text_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background: #000;
  overflow: hidden;
  z-index: 1;
  max-width: 100vw;
  opacity: 1;
}
.text_wrapper:nth-of-type(4) {
  position:absolute;
  bottom: 0;
}
.text_wrapper .twapply {
  font-size: 30px;
  -webkit-text-stroke-width: 0.1px;
  color:#fff;
  -webkit-text-stroke-color: #fff;
  opacity: 1;
  white-space: nowrap;
  padding: 0 6rem 0.3rem;
  letter-spacing: 2px;
  animation: move-rtl 30000ms linear infinite;
}
@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*************************************/
.main_btn:hover {
    background: linear-gradient( 50deg, var(--brand-red) 0%, #f2f2f2);;
}

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: var(--White);
  }

  #OrderList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
}

.OrderItem{
    background-image:linear-gradient(var(--BoldRose), var(--Orange));
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 80%;
    height: 80%;
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;
    box-shadow: 2px 2px 2px grey;
    transition: 0.3s ease;
    border-radius: 10px;
}

.OrderItem:hover{
    box-shadow: 2px 2px 2px rgb(34, 34, 34);
    transition: 0.3s ease;
}

button{
  background-color: var(--BabyBlue);
  border: none;
  margin: auto;
  color: black;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover{
  background-color: var(--PaleBlue);
  transition: 0.5 ease;
}

.ButtonContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: auto;
  margin: auto;
  text-align: center;
}
marquee{
  color: var(--brand-blue);
  user-select: none;
  position: absolute;
}
/*************************************/
/*** card stylying****/
.rescard {
  width: 20rem;
  height: 22rem;
  background-color:var(--brand-blue);
  color: var(--white);
  justify-content: center;
  margin-left:2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px 20px 0px 20px;
}


/*************************Section Divider - SectionNameHere*************************/

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a{
    float: none;
    display: block;
  }
  
  .topnav a {
    position: relative;
    top: 0;
    left: 0;
    transform:rotate3d();
  }
}